// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix() {
    *zoom:1;

    &:before,
    &:after {
        content:"";
        display:table;
    }
    &:after {
        clear:both;
    }
}

// Prints the font-size in rem with px fallback for IE8
@mixin font-size($sizeValue: 16) {
    font-size: $sizeValue + px;
    font-size: $sizeValue / 16 + rem;
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin position($position, $args) {
  @each $o in top right bottom left {
        $i: index($args, $o);

        @if $i and $i + 1 <= length($args) and type-of(nth($args, $i + 1)) == number  {
              #{$o}: nth($args, $i + 1);
        }
  }

  position: $position;
}

@mixin absolute($args) {
    @include position("absolute", $args);
}

@mixin fixed($args) {
    @include position("fixed", $args);
}

@mixin relative($args) {
    @include position("relative", $args);
}

@mixin bp($name) {
    @if $old-ie {
        @content;
    }

    @else {
        @if map-has-key($breakpoints, $name) {
            @media #{map-get($breakpoints, $name)} {
                @content;
            }
        }
        @else {
            @warn "Couldn't find a breakpoint named `#{$name}`.";
        }
    }
}

@function color($group, $variant) {
    @if map-has-key($colors, $group) {

        @if map-has-key(map-get($colors, $group), $variant) {
            @return map-get(map-get($colors, $group), $variant);
        } @else {
            @warn "Couldn't find a color `#{$variant}` in group named `#{$group}`.";
        }
    } @else {
        @warn "Couldn't find a color group named `#{$group}`.";
    }
}

@function font($group, $variant) {
    @if map-has-key($fonts, $group) {

        @if map-has-key(map-get($fonts, $group), $variant) {
            @return unquote(map-get(map-get($fonts, $group), $variant));
        } @else {
            @warn "Couldn't find a font `#{$variant}` in group named `#{$group}`.";
        }
    } @else {
        @warn "Couldn't find a font group named `#{$group}`.";
    }
}
