// Colors
$colorPrimary: #111;            // 1. Highlightcolor
$colorSecondary: #222;          // 2. Highlightcolor
$colorTextStandard: #000;       // Standardcolor for text
$colorTextPrimary: #333;        // 1. Highlightcolor for text
$colorTextSecondary: #444;      // 2. Highlightcolor for text
$colorTextQuite: #aaa;          // Quite color for text

// Fonts
$fontPrimary: 'Raleway', sans-serif;
$fontSecondary: 'Lora', serif;